{% extends 'base.html' %}

{% block content %}
    <div class="container my-5">
        <h1 class="mb-5">Clearance Products</h1>
        {% if products %}
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="{{ product.image.url }}" alt="Product Image">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-sm btn-outline-secondary">View</a>
                                    </div>
                                    <p class="card-text">{{ product.unit_price }} $</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>There are no clearance products available.</p>
        {% endif %}
    </div>
    
{% endblock %}
