{% extends 'base.html' %}

{% block content %}
<h1>Welcome {{ user.username }}!</h1>

{% if enterprises %}
    <h2>My Enterprises:</h2>
    <ul>
    {% for enterprise in enterprises %}
        <li><a href="{% url 'stock:enterprise_detail' enterprise.id %}">{{ enterprise.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if warehouses %}
    <h2>My Warehouses:</h2>
    <ul>
    {% for warehouse in warehouses %}
        <li><a href="{% url 'stock:warehouse_detail' warehouse.id %}">{{ warehouse.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}
