{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Change password</h2>
      <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
          {% if form.errors.new_password2 %}
            <div class="alert alert-danger">{{ form.errors.new_password2|join:", " }}</div>
          {% endif %}
          {% if form.errors.new_password1 %}
            <div class="alert alert-danger">{{ form.errors.new_password1|join:", " }}</div>
          {% endif %}
        {% endif %}
        {{ form.old_password.label_tag }}
        {{ form.old_password }}
        <br>
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {% if form.errors.new_password1 %}
          <small class="form-text text-danger">
            {% if 'too_similar' in form.errors.new_password1 %}
              Your password can’t be too similar to your other personal information.
            {% endif %}
            {% if 'password_length' in form.errors.new_password1 %}
              Your password must contain at least 8 characters.
            {% endif %}
            {% if 'common_password' in form.errors.new_password1 %}
              Your password can’t be a commonly used password.
            {% endif %}
            {% if 'numeric_password' in form.errors.new_password1 %}
              Your password can’t be entirely numeric.
            {% endif %}
          </small>
        {% endif %}
        <br>
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        {% if form.errors.new_password2 %}
          <small class="form-text text-danger">
            {{ form.errors.new_password2|join:", " }}
          </small>
        {% endif %}
        <br>
        <button type="submit" class="btn btn-primary">Change password</button>
      </form>
    </div>
  </div>
{% endblock %}
