{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Statistics</h1>
    <canvas id="stock-chart"></canvas>

    {% if company_totals %}
      <h2>Companies:</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Total Stock</th>
          </tr>
        </thead>
        <tbody>
          {% for company in company_totals %}
            <tr>
              <td>{{ company.name }}</td>
              <td>{{ company.total_stock }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% endif %}

    {% if warehouse_totals %}
      <h2>Warehouses:</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Total Stock</th>
          </tr>
        </thead>
        <tbody>
          {% for warehouse in warehouse_totals %}
            <tr>
              <td>{{ warehouse.name }}</td>
              <td>{{ warehouse.company.name }}</td>
              <td>{{ warehouse.total_stock }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

    <script>
      var ctx = document.getElementById('stock-chart').getContext('2d');
      var data = {
        labels: [{% for company in company_totals %}"{{ company.name }}",{% endfor %}],
        datasets: [{
          label: 'Total Stock',
          data: [{% for company in company_totals %}{{ company.total_stock }},{% endfor %}],
          backgroundColor: 'rgba(54, 162, 235, 0.2)',
          borderColor: 'rgba(54, 162, 235, 1)',
          borderWidth: 1
        }]
      };
      var options = {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      };
      var chart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: options
      });
    </script>
  </div>
{% endblock %}
